@import 'src/variables.scss';

.todo-list-item {
    background-color: white;
    margin-top: 2px;
    display: flex;
    align-items: center;

    .mdc-list-item__graphic {
        margin-right: 1rem;
    }

    .mdc-list-item__text {
        flex: 1;
    }
}

:not(.mdc-list-item--disabled).mdc-list-item:hover .mdc-list-item__ripple::before {
    opacity: $opacityListItemOnHover;
}
