@import "variables";

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;

    #app-content {
        width: 100%;
    }
}

.makeStyles-content-7 {
    background: rgba($color: #000000, $alpha: $opacityAppContent)
}
